<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      /* body ------------------------------ */
      html, body { margin:5; padding:0; font:14px Helvetica, Arial, sans-serif; background-color: #FFFFFF; color:#444;}
      a { text-decoration:underline; color:#0a82d8; }
      a:hover { text-decoration:none; color:#0a82d8; }
    </style>
  </head>
  <body class="home blog">
    <p>Hey There,</p>
    <p>
      <strong>Thanks for signing up!</strong><br/>
      We will soon be turning spare time into Super Time - from the the dreariest of commutes to the rainiest of afternoons.
    </p>
    <p>
      <strong>For now</strong><br/>
      You can follow <a href="http://twitter.com/#!/TheSuperTimes">@supertimes</a> on Twitter, 
      and find us on <a href="http://www.facebook.com/pages/The-Super-Times/182171455217497">Facebook</a>.
    </p>
    <p>
      <strong>For the keen beans</strong><br/>
      In the coming months, we'll be releasing a <strong>Beta version</strong> of the app.<br/>
      Keep your eyes peeled for an email, as we'll be back in touch with more details soon.
    </p>

    <p>Have a great day,</p>

    <p>From the <a href="<%= @url %>/" target="_blank">Super Times</a> team :)</p>
  </body>
</html>