::selection {
  background: pink;
}
html,
body {
  background-color: #fdfdf1;
  font-size: 14px;
  font-family: 'Droid Sans', Arial;
  text-align: center;
  color: #999999;
}
body {
  margin-top: 30px;
}
header hgroup {
  margin-top: 30px;
}
h1 {
  font-size: 40px;
  color: #34abd1;
  font-family: 'Allan', Arial;
}
h1:hover {
  padding-left: 2px;
  text-shadow: -0.1em 0.05em #a80f00;
}
h2 {
  font-size: 36px;
  font-family: 'Allan', Arial;
  color: #a80f00;
}
h3 {
  font-size: 32px;
  padding-bottom: 5px;
  font-family: 'Allan', Arial;
  color: #34abd1;
}
header,
#appstore {
  padding: 30px 20px;
}
#what,
#how {
  padding: 20px 20px;
}
#wrapdemo {
  display: block;
  padding-top: 95px;
  background: url(/images/iphone.png) no-repeat center top;
  width: 300px;
  height: 595px;
  clear: both;
}
#appdemo {
  margin-left: 32px;
}
h4 {
  font-family: 'Allan', Arial;
  color: #34abd1;
}
a {
  font-family: 'Allan', Arial;
  color: #34abd1;
}
a:hover {
  color: #a80f00;
  text-decoration: none;
}
footer a {
  font-size: 13px;
}
footer p {
  font-size: 11px;
}
.feature {
  color: #fff;
  padding: 5px;
  font-size: 12px;
  font-family: "Droid Sans", Helvetica, Arial;
}
.feature h3 {
  font-size: 28px;
  color: white;
}
.feature h3:before {
  content: url("/images/bolt.png");
}
li {
  display: inline;
}
ul,
li {
  margin: 0;
}
ul {
  padding: 0;
}
#descc,
#descc .row {
  padding-bottom: 0;
  margin-bottom: 0;
}
/* #ftsc {
  background: #a80f00;
  background: -moz-linear-gradient(left, #a80f00 0%, #a80f00 50%, #55a800 51%, #55a800 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a80f00), color-stop(50%,#a80f00), color-stop(51%,#55a800), color-stop(100%,#55a800));
  background: -webkit-linear-gradient(left, #a80f00 0%,#a80f00 50%,#55a800 51%,#55a800 100%);
  background: -o-linear-gradient(left, #a80f00 0%,#a80f00 50%,#55a800 51%,#55a800 100%);
  background: -ms-linear-gradient(left, #a80f00 0%,#a80f00 50%,#55a800 51%,#55a800 100%);
  background: linear-gradient(left, #a80f00 0%,#a80f00 50%,#55a800 51%,#55a800 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80f00', endColorstr='#55a800',GradientType=1 ); } */
#go,
#tidy,
#refresh,
#fast {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 5px;
}
#go {
  background: #a80f00;
}
#tidy {
  padding-bottom: 79px;
  background: #ddcb00;
}
#refresh {
  background: #d04a04;
}
#fast {
  background: #55a800;
}
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: black;
}
#wrftcn {
  background: black;
}
