/* reset css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through} table{border-collapse:collapse;border-spacing:0}

/* body ------------------------------ */
html, body { margin:0; padding:0; font:14px Arial, Helvetica, sans-serif; color:#555;  }
a { text-decoration:underline; color:#0a82d8; }
a:hover { text-decoration:none; color:#000; }


/* text formating ------------------------------ */
p { margin:0; padding:0px 0 15px 0; line-height:22px; color:#555; }
p em { line-height:20px; } 
code { line-height:18px; }

ul { margin:0 0 12px 0; padding:0;}
ul li { margin:0 0 8px 14px; padding:0; list-style:disc; line-height:22px;   }

ol { margin:0 0 0 20px; padding:0 0 10px 5px; list-style-type:decimal;  line-height:18px; }
ol li ol { margin:8px 0 5px 18px; padding:0; }
ol li { margin:0 0 5px 25px; padding:0; list-style:decimal; }

dl,hr,ol,ul,pre,table,address,fieldset { margin:0; padding:0; }

blockquote { margin:0; padding:0 0 25px 35px; height:100%; overflow:hidden; color:#000; background:url(/images/quote.png) no-repeat left top; font:30px 'Cabin Sketch', Arial; }

/* headings ----- */
h2, h3, h4, h5, h6 { margin:15px 0 0px 0; padding:0; line-height:normal; font-weight:normal; font-family: Helvetica, Arial, sans-serif;}

h1 { font-size:25px; color: #000;}
h2 { font-size:18px; color: #000;}
h3 { font-size:16px; color: #000;}
h4 { font-size:24px; color: #000;}
h5 { font-size:18px; color: #000;}
h6 { font-size:18px; color: #000;}

.home_logo { margin-top:20px; margin-bottom:12px; font-size:40px; font-weight:bold; color:#3b84d1; font-family: 'Allan', Arial;}
.site_sections_logo { text-align: right; margin-top:10px; margin-bottom:30px; font-size:40px; font-weight:bold; color:#3b84d1; font-family: 'Allan', Arial;}
.site_sections_logo a{ text-decoration: none;}

#wrapper { width:940px; margin:0 auto; min-height:500px; position:relative; padding:25px 0 0px 0; }
#sidebar { width:400px; float:left; text-align:center; }
#content  { width:475px; padding-right:30px; float:right; padding-top:5px; text-align: center;}

/* content ------------------*/

#content .offering { margin-top:30px; margin-bottom:12px; font-size:30px; font-weight:bold; color:#a80f00; font-family: 'Allan', Arial;}
#content .offering em{ font-style:normal; font-weight:bold}

#content .closing { margin-top:30px; margin-bottom:12px; font-size:30px; font-weight:bold; color:#000; font-family: 'Allan', Arial;}

#content .description { font-size:14px; margin:10px 0 0px 0; color: #555; padding: 0;}
#content .description em{ font-style:normal; font-weight:bold}

#content p.highlight { margin:12px 0 0 0; color:#008f0a; font-size:14px; font-weight:bold; }

.btn { display:block; width:100%; height:100%; overflow:hidden; }
.btn span.btn_r { background:url(/images/btn_r.png) no-repeat; width:27px; height:44px; margin-bottom:40px;     }
.btn span { float:left; display:block; }
.btn span.btn_l { font-size:18px; padding:10px 5px 13px 30px; background:url(/images/btn_l.png) no-repeat left top; display:block; float:left; color:#fff; text-shadow:#666 -1px -1px } 
.btn a:hover span { background-position:0 -44px; }

#sidebar p.copy { margin:0; padding:0; font-size:14px; color:#666; line-height:normal; } 
#sidebar p.designby { color:#bababa; margin:0; padding:0; font-size:11px; }
#sidebar p.designby a { color:#bababa; text-decoration:none; }
#sidebar p.designby a:hover { color:#333; text-decoration:none; }

.subscribe { margin-left: 35px; width:400px; height:42px; clear:both; background:url(/images/subscribe_bg.png) no-repeat left 2px; text-align: center; }
.subscribe .submit { background:url(/images/b_go.png) no-repeat left top; width:60px; height:45px; border:none; cursor:pointer; float:right; }
.subscribe .submit:hover { background-position:0 -45px; }
.subscribe .textfield { background:#fff; padding:8px; margin:4px 0 0 18px; width:300px; font:16px Arial, Helvetica, sans-serif; color:#777; border:none;}
.subscribe .textfield:focus { color:#444;  }

/* clearfix ----- */
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }
.clearfix:after { clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0; }
.clearfix { display:inline-block }
* html .clearfix { height:1% }
.clearfix { display:block; }

/* wrapdemo ----- */
#wrapdemo {
  display: block;
  padding-top: 95px;
  background: url(/images/iphone.png) no-repeat center top;
  width: 300px;
  height: 450px;
  clear: both;
}
#appdemo {
  margin-left: 32px;
}

/* carousel ----- */

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.carousel .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel .item > img {
  display: block;
  line-height: 1;
}
.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}
.carousel .active {
  left: 0;
}
.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel .next {
  left: 100%;
}
.carousel .prev {
  left: -100%;
}
.carousel .next.left,
.carousel .prev.right {
  left: 0;
}
.carousel .active.left {
  left: -100%;
}
.carousel .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-control.right {
  left: auto;
  right: 15px;
}
.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}
.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
  line-height: 20px;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}