<div class="container" id="descc">
<section id="description">
<div class="row">
<div id="wrapdemo" class="span4"><div id="appdemo" class="carousel"><div class="carousel-inner">
<div class="item active"><img src="/images/Screenshot1.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot2.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot3.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot4.png" alt="" /></div>
<div class="item"><img src ="/images/Screenshot7.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot6.png" alt="" /></div></div></div></div>
<div class="span8">
<header><hgroup>
<h1>The Super Times</h1>
<h2>Super listening, for super people</h2>
</hgroup></header>
<section id="what"><h3>An audio magazine for your iPhone</h3></section>
<section id="how"><h3>Subscribe for diverse weekly editions</h3></section>
<br />
<br />
<br />
<a href="#" id="appstore"><img src="/images/appstore.png" alt="" /></a></div></div>
</section></div>
<div class="container" id="ftsc">
<div class="row">
<ul id="features">
<div id="go" class="span2"><li class="feature">
<h3>&nbsp;Fully on the go</h3> We do not stream our audio, so you can listen from anywhere: the bus, the metro/tube or up in the air.</li></div>
<div id="tidy" class="span2"><li class="feature">
<h3>&nbsp;Weekly tidy up</h3> Every week we clear all audio content with a freshly minted edition so no more listening backlogs.</li></div>
<div id="refresh" class="span2"><li class="feature">
<h3>&nbsp;Simple refresh</h3> We do not bombard you with alerts and push notifications, all refresh communication is simplified to a click.</li></div>
<div id="fast" class="span2"><li class="feature">
<h3>&nbsp;Fast syncing</h3> We care about your time so we have optimised our download speeds.</li></div>
</ul></div></div>
<div id="wrftcn">
<div class="container" id="ftcn"><footer><div class="row" id="support"><div class="span6"><article>
<h4>Support</h4>
<p>If you experience any problems using The Super Times app, we're here to help.  Just send us an e-mail to <a href="mailto:support@thesupertimes.com?Subject=Help">support@thesupertimes.com</a> and let us know your query or quandary. We'll do our best to get back to you as fast as we can.</p>
</article></div><div class="span6"><article>
<h4>Contact</h4>
<p>If you have anything else you would like to contact us about.  Maybe you want to buy us some tea and cake (we like those) and you're wondering how, then drop us a message to <a href="mailto:contact@thesupertimes.com?Subject=Hello">contact@thesupertimes.com</a></p>
</article></div></div><div class="row" id="links"><article>
<a href="#">Privacy Policy</a> /
<a href="#">FAQ</a> /
<a href="#">Twitter</a> /
<a href="#">Facebook</a></article></div></footer></div></div>
