<div class="container">
<div class="row">
<header>
<div class="span4">
<a href="#" id="appstore"></a>
</div>
<div class="span8">
<hgroup>
<h1>The Super Times</h1>
<h2>Super listening, for super people</h2>
</hgroup>
</div>
</header>
</div>
<section id="description">
<div class="row">
<div id="wrapdemo" class="span2">
<div id="appdemo" class="carousel">
<div class="carousel-inner">
<div class="item active"><img src="/images/Screenshot1.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot2.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot3.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot4.png" alt="" /></div>
<div class="item"><img src ="/images/Screenshot7.png" alt="" /></div>
<div class="item"><img src="/images/Screenshot6.png" alt="" /></div></div></div></div>
<div class="span8">
<section id="what">
<h3>An audio magazine for your iPhone</h3>
<h5>
The Super Times brings you the best audio conversations each week to banish boredom and enjoy your downtime. 
</h5>
</section>
<section id="how">
<h3>Subscribe for diverse weekly editions</h3>
<h5>
Funny, moving, exciting, thought provoking and intellectually stimulating conversations are selected for each week's edition, for you to enjoy on your commute, while you're cooking dinner or even taking a long haul flight. Great stuff to listen to at the click of a button. 
</h5>
</section>
<div class="row">
<div class="span4"><section id="go" class="feature"><h3>&nbsp;Fully on the go</h3> We do not stream our audio, so you can listen from anywhere: the bus, the metro/tube or up in the air.</section></div>
<div class="span4"><section id="tidy" class="feature"><h3>&nbsp;Weekly tidy up</h3> Every week we clear all audio content with a freshly minted edition so no more listening backlogs.</section></div></div>
<div class="row">
<div class="span4"><section id="refresh" class="feature"><h3>&nbsp;Simple refresh</h3> We do not bombard you with alerts and push notifications, all refresh communication is simplified to a button click.</section></div>
<div class="span4"><section id="fast" class="feature"><h3>&nbsp;Fast syncing</h3> We care about your time so we have optimised our download speeds.</section></div>
</div></div>
</section>
<footer>
<div class="row">
<div class="span4">
<article>
<h4>Support</h4>
<p>If you experience any problems using The Super Times app, we're here to help.  Just send us an e-mail to <a href="mailto:support@thesupertimes.com?Subject=Help">support@thesupertimes.com</a> and let us know your query or quandary. We'll do our best to get back to you as fast as we can.</p>
</article>
</div>
<div class="span4">
<article>
<h4>Contact</h4>
<p>If you have anything else you would like to contact us about.  Maybe you want to buy us some tea and cake (we like those) and you're wondering how, then drop us a message to <a href="mailto:contact@thesupertimes.com?Subject=Hello">contact@thesupertimes.com</a></p>
</article>
</div>
<div class="span4">
<article>
<h4><a href="#">Twitter</a></h4>
<h4><a href="#">Facebook</a></h4>
</article>
</div></div>
</footer>
</div>
