<div id="wrapper" class="clearfix">
  <div id="content">
    <h1 class="home_logo">
      The Super Times
    </h1>

    <h2 class="offering">
      An audio magazine for your iPhone
    </h2>
    <p class="description">
      The Super Times is an iPhone app for busy people (like us) who want the best podcasts to listen to at the click of a button - just sync &amp; go.
    </p>
    
    <h2 class="offering">
      Subscribe for diverse weekly editions
    </h2>

    <p class="description">
      Each week we send you a selection of the best audio documentaries, discussions, stories, 
      interviews, news, programmes from the archives and all the thought-provoking podcasts we can get our hands on.
    </p>

    <h3 class="closing">
      Super content, super fast!
    </h3>
    
    <p class="description">
      <a id="supertimes-itunes-link" href="http://itunes.apple.com/app/the-super-times/id509942440">
        <img src="/images/app_store_badge400.png" alt="Purchase on the app store"/>
      </a>
    </p>

  </div><!-- content #end -->
  <div id="sidebar">
    <!-- <img src="/images/phone.png" alt="The Super Times iPhone app launch screen." /> -->
    <div id="wrapdemo" class="span4">
      <div id="appdemo" class="carousel">
        <div class="carousel-inner">
          <div class="item active"><img src="/images/Screenshot1.png" alt="iPhone app edition cover screenshot." /></div>
          <div class="item"><img src="/images/Screenshot2.png" alt="iPhone app zeitgeist section screenshot." /></div>
          <div class="item"><img src="/images/Screenshot3.png" alt="iPhone app culture section screenshot." /></div>
          <div class="item"><img src="/images/Screenshot4.png" alt="iPhone app player screenshot." /></div>
          <div class="item"><img src ="/images/Screenshot7.png" alt="iPhone app edition expired screenshot." /></div>
          <div class="item"><img src="/images/Screenshot6.png" alt="iPhone app edition refreshed screenshot." /></div>
        </div>
      </div>
    </div>
  </div>
</div><!-- wrapper #end -->

<script>
  jQuery(document).ready(function() {
    mixpanel.track_links('#supertimes-itunes-link', 'iTunes Link Clicked');

    jQuery('#interested_user_email').focus(function(){
      if($(this).val() == "email..."){
        $(this).val("");
      }
      return false;
    });
    
    jQuery('#interested_user_email').blur(function(){
      if($(this).val() == ""){
        $(this).val("email...");
      }
      return false;
    });
  });
</script>
