<div id="wrapper" class="clearfix">
  <div id="content">
    <div class="home_logo">
      The Super Times
    </div>

    <div class="offering">
      An audio magazine for your iPhone
    </div>
    <div class="description">
      The Super Times is an iPhone app for busy people (like us) who want the best podcasts to listen to at the click of a button - just sync &amp; go.
    </div>
    
    <div class="offering">
      Subscribe for diverse weekly editions
    </div>
    <div class="description">
      Each week we send you a selection of the best audio documentaries, discussions, stories, 
      interviews, news, programmes from the archives and all the thought-provoking podcasts we can get our hands on.
    </div>

    <div class="closing">
      Super listening, for super people
    </div>
    
    <div class="description">
      <a id="supertimes-itunes-link" href="http://itunes.apple.com/app/the-super-times/id509942440">
        <img src="/images/app_store_badge400.png" alt="Purchase on the app store"/>
      </a>
    </div>

  </div><!-- content #end -->
  <div id="sidebar">
    <img src="/images/phone.png" alt="" />
  </div>
</div><!-- wrapper #end -->

<script>
  jQuery(document).ready(function() {
    mixpanel.track_links('#supertimes-itunes-link', 'iTunes Link Clicked');

    jQuery('#interested_user_email').focus(function(){
      if($(this).val() == "email..."){
        $(this).val("");
      }
      return false;
    });
    
    jQuery('#interested_user_email').blur(function(){
      if($(this).val() == ""){
        $(this).val("email...");
      }
      return false;
    });
  });
</script>
