<!DOCTYPE html>
<html>
<head>
  <title>SuperOwl.me</title>
  <%= stylesheet_link_tag :all %>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tag %>
  
  <style>
    body { /* author picture needs to get inserted here */
      background: #000 url("/images/superowl.jpg") no-repeat 0 0;
      background-size: 100%;
      width: 100%;
      display: table;
    }
    
    .intro-container{
      margin-top: 100px;
      background: black;
      color: white;
    }
    
    .intro{
      font: 40px/44px 'Droid Sans', arial, serif;
      padding: 10px 15px;
      color: #FF0000;
    }
    
    .registration{
      margin-top: 10px;
      font: 14px 'Droid Sans', arial, serif;
      padding: 10px 15px;
      background: black;
    }
    
    .definition{
      margin: 0;
      font-size: 16px;
      padding: 10px 15px;
    }
    
    em{
      font-weight: bold;
    }
    
    .transparent_class {
      /* IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

      /* IE 5-7 */
      filter: alpha(opacity=70);

      /* Netscape */
      -moz-opacity: 0.7;

      /* Safari 1.x */
      -khtml-opacity: 0.7;

      /* Good browsers */
      opacity: 0.7;
    }
  </style>
  <% if RAILS_ENV == "production" %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23467696-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</head>
<body class="transparent_class">

  <div class="showgrid container">
    <%= yield %>
  </div>

</body>
</html>
