<!DOCTYPE html>
<html>
  <head>
    <title>The Best Podcasts Weekly For The iPhone | The Super Times</title>
    <meta name="description" content="Awesome Description Here">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <%= stylesheet_link_tag "style" %>
  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Allan:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tag %>
  
    <style type="text/css">
      html, body { 
        background-color: #fdfdf1; 
        font-size: 14px ;
        font-family: 'Droid Sans', Arial;
        color: #555555;
      }
      
      #sidebar p.copy { color: #555555; font-size: 12px}
      #content p.highlight { text-decoration:none; color:#444444;}
      #content p.soon { font-size: 14px;}
      a { text-decoration:underline; color:#0066cc;}
      a:hover { text-decoration:none; color:#0066cc; }
      
      .notice{ color: #444444; }
      .error{color: #990000;}
      .error, .notice{
        padding: 10px 10px 10px 10px;
        font-weight: bold;
        font-size: 16px;
      }
      .error em, .notice em{
        font-style: normal;
        font-size: 25px;
        vertical-align: top;
      }
      
      p.social{
        margin: 20px 0 0 0;
        font-size: 13px;
      }

      div.footer{
        margin: 20px 0 0 0;
        font-size: 13px;
        text-align: center;
      }

      div.footer #footer_menu{
        margin: 20px 0 0 0;
        font-size: 13px;
        text-align: center;
      }

      #company_details{
        margin: 0 0 0 0;
        font-size: 12px;
      }
    </style>

    <% if RAILS_ENV == "production" %>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23467696-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    <% end %>

    <script type="text/javascript">
      (function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";
      b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
      '//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];
      d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
      var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
      Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
      f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
      'track_forms','register','register_once','unregister','identify','name_tag',
      'set_config','people.set','people.increment'];for(e=0;e<h.length;e++)d(g,h[e]);
      a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);

      <% if RAILS_ENV == "production" %>
        mixpanel.init("62a0ed3451e6e1c2d99d9645dfa3fd28");
      <% else %>
        mixpanel.init("dd031f7e9d8924147c98d0b084f5a88f");
      <% end %>
    </script>
  </head>
  <body class="home blog">
    <%= yield %>
    <div class="footer">
      <p id="footer_menu">
        <a href="http://blog.thesupertimes.com/">Blog</a> &nbsp;&nbsp;&nbsp; 
        <a href="privacy.html">Privacy Policy</a> &nbsp;&nbsp;&nbsp; 
        <a href="faq.html">FAQs</a> &nbsp;&nbsp;&nbsp; 
        <a href="publishers.html">Podcast Publishers</a> &nbsp;&nbsp;&nbsp; 
        <a href="support.html">Support/Contact</a> &nbsp;&nbsp;&nbsp; 
        <a href="http://twitter.com/#!/TheSuperTimes" target="_blank">Twitter</a> &nbsp;&nbsp;&nbsp; 
        <a href="http://www.facebook.com/pages/The-Super-Times/182171455217497" target="_blank">Facebook</a>
      </p>
      <p id="company_details">&copy; 2012 <a href="http://said.fm/" target="_blank">Said.fm</a> productions all rights reserved.</p>
    </div>
  </body>
</html>
